.control-left{
	display: inline-block; 
}		
.control-right{
	display: inline-block; 
	position: absolute; 
	right: 0px; 
}			
.light-blue-background{
	background-color: #a9c9ff;
}
.light-pink-background{
	background-color: #c9c9ff;
}
.light-green-background{
	background-color: #c9ffc9;
}
.light-orange-background{
	background-color: #ffffc9;
}
.camera{
	width: 640px;
	height: 480px;								
	display: block;
	margin: auto;
}
.yes {
	margin-top: 30px;
	margin-bottom: 30px;
}
.no {
	margin-top: 30px;
	margin-bottom: 30px;
}

input {
	height: 30px;
	width: 200px;
}